


/*Mobile*/
body{
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    height: 1200px;
    color: chocolate;
    text-align: center;
}

div {
    align-content: center;
}

th, td {
    color: black;
    background-color: coral;
    padding: 6px;
    text-align: left;
}

/* Tablet*/
@media screen and (min-width: 768px ){
    .container{
        width: 50%;
        margin: auto;
    }
    th, td {
        background-color: yellow;
    }
}

/*Desktop*/
@media screen and (min-width: 1200px ){
    .container {
    width: max-content;
    margin: auto;
    }
    th, td {
        background-color: brown;
    }
}