
body{
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    height: 1200px;
    color: chocolate;
    text-align: center;

}
.container {
    margin: auto auto 50px auto;

}

.grid-container, .flex-container, .img-responsive{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}


.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


