
h1 {
    color: chocolate;
    font-family: fantasy;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    border-bottom: 1px solid chocolate;
    border-right: 1px solid red;
    width: 100%;
    text-align: center;
    box-shadow: 4px 4px 5px chocolate;
    margin-top: 10px;

}

body{
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: chocolate;
}

.image-width {
    width: 240px;
    margin: 15px;
    transition: all 0.01s;
}
img:hover {
    transform: scale(1.05);
}

.flex-container{
    display: grid;
}
.grid-container{
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 15px 300px 15px;
    text-align: left;
    line-height: 17px;
    font-size: 15px;


}


/*Tablet*/
@media screen and (min-width: 768px) {
    h1 {
        color: orange;
        border-bottom: 1px solid orange;
        border-right: 1px solid burlywood;
        box-shadow: 4px 4px 5px orange;
    }
    .sidebar{
        flex: 0 1 500px;
    }
    .flex-container{
        color: orange;
        margin: 20px;
        display: flex;
    }
    .image-width{
        width: 300px;
    }
    .grid-container{
        color: orange;
        display: flex;

    }
}
/*Desktop*/
@media screen and (min-width: 992px){
    h1 {
        color: darkred;
        border-bottom: 1px solid darkred;
        border-right: 1px solid blue;
        box-shadow: 4px 4px 5px darkred;
    }
    .sidebar{
        flex: 0 1 500px;
    }
    .flex-container{
        color: #d22b1f;
        margin: 50px 50px 25px 400px;
    }
    .grid-container{
        color: #d22b1f;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    .image-width {
        height: auto;
        width: 250px;
    }
}

.wrapper {
    margin: auto;
    max-width: 1200px;
}
