table, th, td {
   border: 0.5px solid black;
}


/*table {
   border: 0px solid black;
}

th {
   border: px solid black;
}
td {
   border: px solid black;
}*/


table, tr, th {
   color: blue;
}
table, tr, th {
   background-color: darksalmon;


   border-collapse: collapse;    /*Det tar bort "fula" ruter*/
}

   td {
      text-align: center;
   }
#center {
   text-align: left;
}