/*mobile*/


* {
    box-sizing: border-box;
}
body{
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 100%;
    background-repeat: no-repeat;
    color: wheat;
}


.container {
    position: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

.container div {

}
